body{
    background-blend-mode:multiply;
    animation: multiplyColors 4s infinite alternate linear both;
}



.container{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background{
    height: 500px;
    width: 450px;
    border-radius: 10px;
    background-color: white;
     
}

.Tela-de-Login{
    color: #d8d0d0;
    font-size: 2rem;
    display: flex;
    justify-content: center;

}

.erro{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 400px;
    height: 50px;
    margin: 5px auto;
    color: white;
    border-radius:5px;
    border: 1px solid white;
    background-blend-mode:multiply;
    animation: multiplyColors 4s infinite alternate linear both;
}

.login, .btn-login-container, .register{
    margin-top: 40px;
    display: flex;
    justify-content: center;

}

.register{

    display: none;
    animation: register 3s 0.5 ease-in
}

@keyframes register {
    0%{}
}

input, button{
    margin-right: 5px;
    width: 400px;
    height: 40px;
    border-radius:15px;
}

.btn-login{
    float: left;
    width: 400px; 
    height: 40px; 
    margin-bottom: 50px;
    background-color: #d8d0d0; 
    border-style: solid; 
}

.down{
    position: absolute;
    margin-top:55px; 
    width: 400px; 
    height: 40px; 
    background-color: #d8d0d0; 
    border-style: solid; 
    border-color: #FFFFFF;
}

.btn{
    margin-top: 145px;
}

.btn2{
    margin-top: 190px;
}

@keyframes multiplyColors {
    0%{background: #0595bb;background-image: url("./img/topography.webp");}
    20%{background:#6d47d9; background-image: url("./img/topography.webp");}
    50%{background-color: #0e898dd3; background-image: url("./img/topography.webp");}
    70%{background-color: #2a71b0; background-image: url("./img/topography.webp");}
    100%{background-color: #444f98; background-image: url("./img/topography.webp");}
}