body{
  background: #0f0f0f;  
}

.container, .container2{
    margin-top: 50px;
    display: flex;
    justify-content: center;

}

.container2{
    display: none;
}

input, button{
    margin-right: 5px;
    width: 400px;
    height: 40px;
    border-radius: 50px;

}

.up{
    float: left;
    width: 400px; 
    height: 40px; 
    margin-bottom: 50px;
    background-color: #CCCCCC; 
    border-style: solid; 
}

.down{
    position: absolute;
    margin-top:55px; 
    width: 400px; 
    height: 40px; 
    background-color: #CCCCCC; 
    border-style: solid; 
    border-color: #FFFFFF;
}

.btn{
    margin-top: 145px;
}

.btn2{
    margin-top: 190px;
}